urllib3
google-cloud-storage
gsutil
sentinelsat
shapely
earthpy
descartes
rasterio
pyproj
GDAL
pandas
geopandas
numpy
IPython
matplotlib
pyperclip
docopt
Rtree
opencv-python
albumentations
metaflow
omegaconf
sqlalchemy
subprocess32

